@import 'variable';
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  transition: all .2s linear;
  ::selection {
      background: var(--black);
      color: white;
  }
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

section {
  overflow: hidden;
}

.header-active {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: white;
  z-index: 1;
  width: 100%;
  padding: 30px;

  .navbar {
    background-color: var(--header_background_color);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-toggler {
      display: none;
    }

    .logo-link {
      height: auto;
      width: 30%;
      margin-left: 20px;
      text-decoration: none;
    }

    img {
      width: 100%;
    }
  }

  .navbar-collapse {
    width: 70%;

    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style: none;
    }
  }

  .link-for-phone {
    display: none;
  }

  .fa-bars {
    display: none;
    font-size: 2.5rem;
    color: var(--header_aTag_color);
    cursor: pointer;
    display: none;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  li {
    margin: 0 1rem;

    .header-link {
      font-weight: bold;
      font-size: 14px;
      color: var(--header_aTag_color);
      padding: 8px 15px;
      text-decoration: none;
      &:hover {
        color: var(--header_hoverATag_color);
        border-radius: 17px;
        background-color: var(--header_hoverBackgroundATag_color);
      }
    }
  }
}

.banner-section {
  width: 100%;
  height: 655px;

  .banner {
    width: 100%;
    height: 100%;
    display: flex;
    background: url(../images/hapo_learn_banner1.png) no-repeat;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
  }

  .banner-content {
    margin-top: 0px;
  }

  .banner-content > p {
    margin-left: 50px;
    font-family: var(--banner_font_family);
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: var(--banner_banner-content_pTag_color);
  }

  .banner-slogan {
    margin-left: 50px;

    .top-slogan {
      font-family: var(--banner_font_family);
      font-weight: normal;
      font-size: 50px;
      line-height: 61px;
      letter-spacing: -0.05em;
      color: var(--banner_banner_content_spanTag_color);
    }

    .bottom-slogan {
      font-family: var(--banner_font_family);
      font-weight: bold;
      font-size: 50px;
      line-height: 61px;
      color: var(--banner_banner_content_spanTag_color);
    }

    img {
      vertical-align: middle;
      width: 5%;
    }
  }
  
  .button {
    margin-left: 50px;
    background: var(--header_hoverBackgroundATag_color);
    box-shadow: var(--banner_box_shadow);
    border-radius: 35px;
    width: 27%;
    font-family: var(--banner_font_family);
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.05em;
    color: var(--banner_button_text_color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 13px 67px 20px 67px;
    text-decoration: none;
  }
}

.space-between-banner-courses {
  background: var(--blank_background);
  height: 150px;
  margin-bottom: -110px;
}

.main-courses-section {
  width: 100%;

  .col-course {
    display: flex;
    justify-content: center;
  }

  .courses-container {
    .card {
      overflow: hidden;
      box-shadow: var(--main_courses_card_box_shadow);
      border-radius: 15px 15px 15px 15px;
      text-align: center;
      width: 100%;
    }
  }

  .card-image {
    width: 100%;
    height: 215px;

    img {
      width: 100%;
      object-fit: scale-down;
      height: 50%;
      margin-top: 45px;
    }
  }

  .card-body {
    background: var(--header_background_color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    height: 255px;

    .card-title {
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      letter-spacing: -0.05em;
      color: var(--header_hoverBackgroundATag_color);
    }

    .card-text {
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: -0.05em;
      color: var(--main_courses_card_text_color);
    }

    .card-button {
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.05em;
      color: var(--banner_button_text_color);
      background: var(--header_hoverBackgroundATag_color);
      box-shadow: var(--main_courses_card_button_box_shadow);
      border-radius: 22px;
      padding: 10px 35px;
      text-decoration: none;
    }
  }

  .html {
    background: var(--main_courses_html_background_color);
  }

  .laravel {
    background: var(--main_courses_laravel_background_color);
  }

  .php {
    background: var(--main_courses_php_background_color);
  }
}

.other-courses-section {
  width: 100%;
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .col-course {
    display: flex;
    justify-content: center;
  }

  .other-courses-title {
    font-family: var(--card_body_fonts_family);
    font-weight: bold;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: -0.02em;
    color: var(--banner_banner_content_spanTag_color);
    border-bottom: 6px solid var(--header_hoverBackgroundATag_color);
    padding-bottom: 10px;
    border-radius: 3px;
    text-align: center;
  }

  .courses-container {
    margin-top: 45px;

    .card {
      overflow: hidden;
      box-shadow: var(--main_courses_card_box_shadow);
      border-radius: 15px 15px 15px 15px;
      text-align: center;
      width: 100%;
    }
  }

  .card-image {
    width: 100%;
    height: 195px;

    img {
      width: 100%;
      height: 50%;
      object-fit: scale-down;
      margin-top: 40px;
    }
  }

  .card-body {
    background: var(--header_background_color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    height: 200px;

    .card-title {
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      letter-spacing: -0.05em;
      color: var(--header_hoverBackgroundATag_color);
    }

    .card-text {
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: -0.05em;
      color: var(--main_courses_card_text_color);
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    
    .card-button {
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.05em;
      color: var(--banner_button_text_color);
      background: var(--header_hoverBackgroundATag_color);
      box-shadow: var(--main_courses_card_button_box_shadow);
      border-radius: 22px;
      padding: 10px 35px;
      text-decoration: none;
    }
  }

  .css {
    background: var(--other_courses_css_background_color);
  }

  .ruby {
    background: var(--other_courses_ruby_background_color);
  }

  .java {
    background: var(--other_courses_java_background_color);
  }
  
  .view-all-courses {
    margin-top: 60px;
    font-family: var(--card_body_fonts_family);
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.02em;
    color: #90AB26;
    text-align: center;

    img {
      width: 8%;
    }
  }
}

.whyhapo-section {
  margin-top: 116px;

  .whyhapo-container {
    background: url(../images/background_section4.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .img-laptop {
    height: 478px;
    align-self: flex-start;
    position: absolute;
    left: 0px;
    margin-top: -170px;
    img {
      height: 100%;
    }
  }

  .col-left {
    display: flex;
    flex-direction: column;
    padding-right: 65px;

    p {
      margin-top: 220px;
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 70px;
      line-height: 86px;
      text-align: center;
      letter-spacing: -0.02em;
      color: var(--header_hoverATag_color);
    }

    ul {
      text-align: center;
      list-style: none;
    }

    li {
      margin-top: 20px;
      font-family: var(--card_body_fonts_family);
      font-size: 20px;
      line-height: 34px;
      letter-spacing: -0.05em;
      color: var(--header_hoverATag_color);
    }

    i {
      margin-right: 9px;
    }
  }

  .col-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-laptop-tabet {
    height: 544px;

    img {
      height: 100%;
    }
  }
}

.feedback-section {
  width: 100%;
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .feedback-section-title {
    font-family: var(--card_body_fonts_family);
    font-weight: bold;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: -0.02em;
    color: var(--banner_banner_content_spanTag_color);
    border-bottom: 6px solid var(--header_hoverBackgroundATag_color);
    padding-bottom: 10px;
    border-radius: 3px;
    text-align: center;
  }
  
  .feedback-section-title + p {
    font-family: var(--card_body_fonts_family);
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--header_aTag_color);
    margin-top: 25px;
    width: 70%;
  }

  .feedbacks {
    width: 93%;
    position: relative;
    left: 17px;
    margin-top: 40px;
  }

  .feedback-detail {
    margin-right: 40px;
  }

  .feedback-content {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    background: var(--banner_button_text_color);
    border: 0.5px solid var(--feedback_content_border_color);
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;

    .vertical-line {
      width: 5px;
      height: 108px;
      background-color: var(--feedback_vartical_line_color);
    }

    p {
      width: 90%;
      margin-left: 20px;
      font-family: var(--card_body_fonts_family);
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.05em;
      align-self: center;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 25px;
      border-top: 20px solid var(--feedback_content_border_color);
      border-right: 20px solid transparent;
      border-left: 20px solid transparent;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -18.2px;
      left: 25.8px;
      border-top: 19px solid var(--banner_button_text_color);
      border-right: 19px solid transparent;
      border-left: 19px solid transparent;
    }
  }

  .feedback-user {
    margin-top: 25px;
  }

  .user-avatar,
  .user-infor {
    display: inline-block;
    margin-left: 35px;
  }

  .user-avatar {
    width: 60px;
    height: 60px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .user-infor {
    margin-left: 10px;

    .user-name {
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      color: var(--banner_banner_content_spanTag_color);
      margin: 0;
    }

    .user-course {
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: var(--banner_banner-content_pTag_color);
    }

    i {
      color: var(--feedback_star_color);
      font-size: 14px;
      line-height: 16px;
    }
  }

  .left-arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: -15px;
    background: var(--banner_button_text_color);
    border: 0.5px solid var(--feedback_arrow_color);
    text-align: center;
    z-index: 1;
    
    i {
      width: 70%;
      height: auto;
      color: #969494;
    }
  }

  .right-arrow {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: var(--banner_button_text_color);
    position: absolute;
    top: 25%;
    right: 25px;
    border: 0.5px solid var(--feedback_arrow_color);
    text-align: center;
    z-index: 1;

    i {
      width: 70%;
      height: auto;
      color: #969494;
    }
  }
}

.become-member-section {
  margin-top: 110px;
  height: 500px;

  .become-member-container {
    background: url(../images/become_member_section_background.png);
    display: flex;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .become-member-text {
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 60px;
      line-height: 74px;
      text-align: center;
      letter-spacing: -0.02em;
      color: var(--banner_button_text_color);
      text-align: center;
    }

    .become-member-button {
      background: var(--banner_button_text_color);
      box-shadow: var(--banner_box_shadow);
      border-radius: 35px;
      width: 27%;
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      letter-spacing: -0.05em;
      color: var(--become_member_button_text_color);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      padding: 14px 67px 19px 67px;
      text-decoration: none;
    }
  }
}

.statistic-section {
  margin-top: 110px;
  margin-bottom: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .statistic-title {
    font-family: var(--card_body_fonts_family);
    font-weight: bold;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: -0.02em;
    color: var(--banner_banner_content_spanTag_color);
    border-bottom: 6px solid var(--header_hoverBackgroundATag_color);
    padding-bottom: 10px;
    border-radius: 3px;
    text-align: center;
  }
  
  .statistic-container {
    margin-top: 35px;

    .col-top {
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 60px;
      line-height: 74px;
      letter-spacing: -0.05em;
      color: var(--banner_banner-content_pTag_color);
      text-align: center;
    }

    .col-bottom {
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 60px;
      line-height: 74px;
      letter-spacing: -0.05em;
      color: var(--header_hoverBackgroundATag_color);
      text-align: center;
    }
  }
}

.messenger-chat {
  position: fixed;
  float: right;
  right: 40px;
  bottom: 60px;

  .chat-content {
    display: none;
    position: fixed;
    bottom: 150px;
    right: 40px;
    width: 360px;
    height: 190px;
    background: var(--banner_button_text_color);
    box-shadow: var(--chat_box_shadow);
    border-radius: 23px;
  }

  .content-show {
    display: block;
  }

  .chat-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--chat_button_background);
    transition: all ease-in-out 0.5s;

    &:hover {
      transform: scale(1.2);
    }

    .button-img {
      width: 75%;
    }
  }

  .cancel-button {
    width: 24px;
    height: 24px;
    background: var(--feedback_arrow_color);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    float: right;
    margin-top: 13px;
    margin-right: 13px;
  }

  .hapo-chatbot {
    display: flex;
    flex-wrap: wrap;
  }

  .chatbot-avatar {
    width: 28px;
    height: 28px;
    background: url(../images/hapo_logo.png) no-repeat;
    background-size: cover;
    margin-top: 52px;
    margin-left: 13px;
  }

  .chatbot-message {
    width: 256px;

    .chatbot-name {
      margin-top: 13px;
      padding-left: 15px;
      margin-bottom: 5px;
      margin-left: 9px;
      font-family: var(--font_Open_Sans);
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.02em;
      color: var(--chabot_name_color);
    }

    .message-content {
      padding: 9px 33px 10px 15px;
      background: var(--message_content_background);
      border-radius: 15px;
      margin-bottom: 0px;
      margin-left: 9px;
      font-family: var(--font_Open_Sans);
      font-weight: 600;
      font-size: 12px;
      line-height: 17px;
      letter-spacing: -0.02em;
      color: var(--main_courses_card_text_color);
    }
  }

  .login-messenger {
    margin-top: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .chat-with-hapo {
      margin-top: 6px;
      font-family: var(--font_Open_Sans);
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      letter-spacing: -0.02em;
      color: var(--chat_with_hapo_text_color);
    }
  }

  .login-messenger-button {
    width: 276px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: var(--login_messenger_button_background);
    border-radius: 10px;
    font-family: var(--font_Open_Sans);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--banner_button_text_color);

    .icon-messenger {
      width: 17px;
      height: 17px;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 308px;

  .footer-container {
    height: 270px;
    background: var(--footer_container_background);
  }

  .footer-left,
  .footer-right {
    display: flex;
    justify-content: space-around;
    padding: 0px;
  }

  .logo-and-text {
    margin-left: 132px;
    margin-top: 48px;
  }
  
  .footer-image {
    height: 60px;

    img {
      height: 100%;
    }
  }

  .footer-text {
    margin-left: 65px;
    font-family: var(--card_body_fonts_family);
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: var(--banner_button_text_color);
  }

  .left-footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    list-style: none;
    margin-top: 48px;

    li {
      margin-top: 20px;
    }

    .left-footer-link {
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.05em;
      color: var(--banner_button_text_color);
      text-decoration: none;
    }
  }

  .right-footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    list-style: none;
    margin-top: 48px;

    li {
      margin-top: 20px;
    }

    .right-footer-link {
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.05em;
      color: var(--banner_button_text_color);
      text-decoration: none;
    }
  }

  .right-footer-icons {
    list-style: none;
    display: flex;
    margin-top: 124px;
    margin-right: 173px;
  }

  .right-footer-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;

    .icon-img {
      width: 100%;
    }
  }

  .copy-right {
    height: 38px;
    background: var(--footer_copy_right_background);
    width: 100%;

    .copy-right-text {
      font-family: var(--card_body_fonts_family);
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.05em;
      color: var(--banner_button_text_color);
      text-align: center;
      margin-top: 7px;
    }
  }
}

.modal {
  padding: 0;

  .close-modal-button {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: var(--header_hoverBackgroundATag_color);
    position: absolute;
    top: -20px;
    right: -20px;
    border: none;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .fa-times {
      width: 100%;
      color: white;
      text-align: center;
    }
  }

  .modal-body {
    padding: 0px;

    .nav-tabs {
      width: 100%;
      border: 1px solid var(--header_hoverBackgroundATag_color);
      box-sizing: border-box;
      background-color: white;

      .active {
        color: white;
        background: var(--header_hoverBackgroundATag_color);
      }
    }

    .nav-item {
      width: 50%;
    }

    .nav-link {
      border: none;
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 25px;
      line-height: 31px;
      letter-spacing: -0.02em;
      border-radius: 0%;
      color: var(--header_hoverBackgroundATag_color);
      text-align: center;
      padding: 20px;
    }
  }

  .login-form {
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-group {
    margin-top: 30px;
    margin-bottom: 0px;
    width: 100%;
    
    .form-group-title {
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.02em;
      color: var(--banner_banner-content_pTag_color);
    }

    .form-control {
      height: 60px;
    }
  }

  .form-check {
    margin-top: 10px;

    .form-check-label {
      font-family: var(--card_body_fonts_family);
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.02em;
      color: var(--banner_banner-content_pTag_color);
      margin-left: 4px;
    }

    .form-check-input {
      color: var(--header_hoverBackgroundATag_color);
      width: 18px;
      height: 18px;
    }

    .forgot-pw-link {
      float: right;
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.02em;
      text-decoration-line: underline;
      color: var(--header_hoverBackgroundATag_color);
    }
  }

  .login-button {
    font-family: var(--card_body_fonts_family);
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: white;
    width: 50%;
    margin-top: 45px;
    background: var(--header_hoverBackgroundATag_color);
    box-shadow: var(--main_courses_card_button_box_shadow);
    border-radius: 22px;
  }

  .social-network-login-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--card_body_fonts_family);
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: var(--banner_banner-content_pTag_color);
    margin-top: 15px;

    &:before {
      content: "";
      flex: 1;
      border-top: 1px solid var(--modal_login_with_line_color);
    }

    &:after {
      content: "";
      flex: 1;
      border-top: 1px solid var(--modal_login_with_line_color);
    }
  }

  .login-with-google {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--card_body_fonts_family);
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: white;
    background: var(--modal_google_background_color);
    height: 55px;
    width: 100%;
    text-align: center;
    text-decoration: none;

    img {
      height: 25px;
    }
  }

  .login-with-facebook {
    margin-top: 15px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--card_body_fonts_family);
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: white;
    background: var(--modal_facebook_backgound_color);
    height: 55px;
    width: 100%;
    text-align: center;
    text-decoration: none;

    img {
      height: 30px;
    }
  }

  .register-form {
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-group {
      margin-top: 30px;
      margin-bottom: 0px;
      width: 100%;
    }

    .form-group-title {
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.02em;
      color: #505353;
    }

    .form-control {
      height: 60px;
    }

    .register-button {
      font-family: var(--card_body_fonts_family);
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: white;
      width: 50%;
      background: var(--header_hoverBackgroundATag_color);
      box-shadow: var(--main_courses_card_button_box_shadow);
      border-radius: 22px;
      margin-bottom: 45px;
      margin-top: 30px;
    }
  }
}

@media only screen and(min-width:426px) and (max-width:768px) {
  header {
    .navbar {
      flex-flow: column;

      .logo-link {
        margin-left: 0px;
        margin-right: 0px;
      }
  
      .collapse {
        display: block;
      }
    }

    .navbar-collapse {
      width: 100%;
      margin-top: 30px;
      margin-right: 0px;

      ul {
        justify-content: center;
        flex-direction: row;
      }
    }

    li {
      margin: 0 1.5rem;

      a {
        transition: 0s;
      }
    }
  }

  .banner-section {
    height: 350px;

    .button {
      margin-left: 20px;
      font-size: 16px;
      line-height: 20px;
      padding: 7px 34px 10.14px 36px;
    }

    .banner-content {
      margin-top: 0px;
    }

    .banner-content > p {
      margin-left: 20px;
      font-size: 16px;
      line-height: 20px;
    }

    .banner-slogan {
      margin-left: 20px;

      .top-slogan {
        font-size: 30px;
        line-height: 37px;
      }

      .bottom-slogan {
        font-size: 30px;
        line-height: 37px;
      }
    }
  }

  .main-courses-section {
    .courses-container {
      .card {
        width: 100%;
      }
    }

    .card-image {
      height: 130px;

      img {
        margin-top: 30px;
      }
    }

    .card-body {
      padding: 0px 15px;
      height: 170px;

      .card-title {
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.05em;
      }

      .card-text {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.05em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

      .card-button {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: -0.05em;
        padding: 6px 21px;
      }
    }
  }

  .other-courses-section {
    margin-top: 55px;

    .other-courses-title {
      font-size: 50px;
      line-height: 61px;
      letter-spacing: -0.02em;
      padding-bottom: 7px;
    }

    .courses-container {
      margin-top: 30px;

      .card {
        width: 100%;
      }
    }

    .card-image {
      height: 130px;

      img {
        margin-top: 30px;
      }
    }

    .card-body {
      padding: 0px 15px;
      height: 170px;

      .card-title {
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.05em;
      }

      .card-text {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.05em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

      .card-button {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: -0.05em;
        padding: 6px 21px;
      }
    }

    .view-all-courses {
      margin-top: 36px;
      font-size: 28px;
      line-height: 34px;
      letter-spacing: -0.02em;
      text-align: center;

      img {
        width: 8%;
      }
    }  
  }

  .whyhapo-section {
    margin-top: 80px;

    .whyhapo-container {
      width: 100%;
      height: 395px;
    }

    .img-laptop {
      height: 277px;
      align-self: flex-start;
      position: absolute;
      left: 0px;
      margin-top: -110px;

      img {
        height: 100%;
      }
    }

    .col-left {
      padding-left: 10px;
      padding-right: 0px;

      p {
        margin-top: 0px;
        font-size: 50px;
        line-height: 61px;
        position: relative;
        top: -40px;
        left: 200px;
        
      }

      li {
        margin-top: 15px;
        font-size: 16px;
        line-height: 20px;
      }
    }

    .col-right {
      padding-left: 0px;
      
      .img-laptop-tabet {
        height: 260px;
        position: relative;
        top: 40px;
      }
    }
  }

  .feedback-section {
    margin-top: 60px;

    .feedback-section-title {
      font-size: 50px;
      line-height: 61px;
      padding-bottom: 7px;
    }

    .feedback-section-title + p {
      font-size: 18px;
      line-height: 22px;
      margin-top: 17px;
    }

    .feedbacks{
      margin-top: 15px;
    }

    .feedback-user {
      margin-top: 15px;
    }

    .user-avatar {
      margin-left: 30px;
    }
  }

  .become-member-section {
    margin-top: 60px;
    height: 267px;

    .become-member-container {
      .become-member-text {
        font-size: 35px;
        line-height: 43px;
      }

      .become-member-button {
        font-size: 20px;
        line-height: 25px;
        width: 33%;
        padding: 10px 45px 12px 45px;
      }
    }
  }

  .statistic-section {
    margin-top: 60px;
    margin-bottom: 60px;

    .statistic-title {
      font-size: 50px;
      line-height: 61px;
      border-bottom: 4px solid var(--header_hoverBackgroundATag_color);
    }

    .statistic-container {
      margin-top: 28px;

      .col-top {
        font-size: 40px;
        line-height: 49px;
      }

      .col-bottom {
        font-size: 40px;
        line-height: 49px;
      }
    }
  }

  .messenger-chat {
    bottom: 80px;
    
    .chat-content {
      bottom: 170px;
    }

    .chat-button {
      width: 50px;
      height: 50px;
    }
  }

  footer {
    .footer-container {
      height: 218px;
    }

    .logo-and-text {
      margin-left: 15px;
      margin-top: 17px;
    }

    .footer-image {
      height: 35px;
    }

    .footer-text {
      margin-left: 5px;
      font-size: 16px;
      line-height: 20px;
    }

    .left-footer-menu {
      margin-top: 9px;

      li {
        margin-top: 23px;
      }

      .left-footer-link {
        font-size: 18px;
        line-height: 22px;
      }
    }

    .right-footer-menu {
      margin-top: 9px;

      li {
        margin-top: 23px;
      }

      .right-footer-link {
        font-size: 18px;
        line-height: 22px;
      }
    }

    .right-footer-icons {
      margin-top: 98px;
      margin-right: 0px;
    }

    .right-footer-icon {
      width: 40px;
      height: 40px;
      margin-right: 30px;
    }
  }
}

@media only screen and(max-width:425px) {
  header {
    padding: 5px 0px;

    .navbar {
      margin: 0;
      flex-wrap: wrap;
      flex-flow: wrap;

      .navbar-toggler {
        display: inline-block;
      }

      .logo-link {
        width: 40%;
        margin-right: 30%;
        margin-left: 0px;
      }

      .navbar-collapse {
        margin: 0px;
      }
    }

    .fa-bars {
      display: block;
      font-size: 20px;
      transition: 0.2s;
    }

    .navbar-toggler {
      transition: 0.2s;
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      width: 100%;
      flex-flow: column;
    }

    li {
      width: 100%;
      text-align: center;
      margin-top: 46px;

      a {
        display: block;
        transition: .1s;
        font-size: 16px;
        &:hover {
          color: var(--header_hoverBackgroundATag_color);
          background: none;
        }
      }
    }

    .navbar-collapse {
      margin: 0px;
      transition: .2s;

      ul {
        flex-direction: column;
        justify-content: space-between;
      }
    }

    .link-for-phone {
      display: list-item;
    }
  }

  .banner-section {
    height: 450px;

    .banner {
      display: inline-block;
      height: 200px;
    }

    .button {
      margin-left: 80px;
      font-size: 18px;
      line-height: 22px;
      padding: 12px 52px 12.42px 52px;
      width: 65%;
    }

    .banner-content > p {
      margin-left: 80px;
      font-size: 16px;
      line-height: 20px;
    }

    .banner-content {
      width: 100%;
      margin-top: 8%;
      position: relative;
      top: 200px;
    }

    .banner-slogan {
      margin-left: 80px;

      .top-slogan {
        font-size: 25px;
        line-height: 31px;
      }

      .bottom-slogan {
        font-size: 25px;
        line-height: 31px;
      }

      img {
        width: 10%;
      }
    }
  }

  .main-courses-section {
    .courses-container {
      .card {
        width: 80%;
        margin-top: 1rem;
      }
    }

    .card-image {
      height: 163px;

      img {
        margin-top: 32px;
      }
    }

    .card-body {
      padding: 0px 15px;
      height: 235px;

      .card-title {
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.05em;
      }

      .card-text {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.05em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

      .card-button {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.05em;
        padding: 10px 35px;
      }
    }
  }

  .other-courses-section {
    margin-top: 50px;

    .other-courses-title {
      font-size: 40px;
      line-height: 49px;
      letter-spacing: -0.02em;
      padding-bottom: 7px;
    }

    .courses-container {
      margin-top: 30px;

      .card {
        width: 80%;
        margin-top: 1rem;
      }
    }

    .card-image {
      height: 163px;

      img {
        margin-top: 32px;
      }
    }

    .card-body {
      padding: 0px 15px;
      height: 235px;

      .card-title {
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.05em;
      }

      .card-text {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.05em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

      .card-button {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.05em;
        padding: 10px 35px;
      }
    }

    .view-all-courses {
      margin-top: 36px;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: -0.02em;
      text-align: center;

      img {
        width: 8%;
      }
    }  
  }

  .whyhapo-section {
    margin-top: 90px;

    .whyhapo-container {
      width: 100%;
      height: 570px;
    }

    .img-laptop {
      height: 226px;
      margin-top: -100px;

      img {
        height: 100%;
      }
    }

    .col-left {
      display: inline-block;
      padding: 0;

      p {
        margin-top: 0px;
        font-size: 40px;
        line-height: 40px;
        width: 40%;
        position: relative;
        left: 40%;
        text-align: left;
      }

      li {
        margin-top: 20px;
        font-size: 14px;
        line-height: 17px;
      }
    }

    .col-right {
      padding: 0;

      .img-laptop-tabet {
        height: 218px;
        position: relative;
        top: 40px;
      }
    }
  }

  .feedback-section {
    margin-top: 40px;

    .feedback-section-title {
      font-size: 40px;
      line-height: 49px;
      border-bottom: 3px solid var(--header_hoverBackgroundATag_color);
      padding-bottom: 8px;
    }

    .feedback-section-title + p {
      font-size: 16px;
      line-height: 20px;
      margin-top: 15px;
      margin-bottom: 0px;
    }

    .feedbacks {
      margin-top: 8px;
    }

    .feedback-content {
      .vertical-line {
        width: 3px;
      }

      p {
        font-size: 14px;
        line-height: 17px;
      }

      &:before {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 25px;
        border-top: 14px solid var(--feedback_content_border_color);
        border-right: 14px solid transparent;
        border-left: 14px solid transparent;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -13.2px;
        left: 25px;
        border-top: 14px solid var(--banner_button_text_color);
        border-right: 14px solid transparent;
        border-left: 14px solid transparent;
      }
    }

    .feedback-user {
      margin-top: 12px;
    }

    .user-avatar, 
    .user-infor {
      margin-left: 10px;
    }

    .user-avatar {
      width: 45px;
      height: 45px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .user-infor {
      .user-name {
        font-size: 16px;
        line-height: 20px;
      }

      .user-course {
        font-size: 14px;
        line-height: 17px;
      }
    }

    .left-arrow,
    .right-arrow {
      width: 25px;
      height: 25px;
    }
  }

  .become-member-section {
    margin-top: 40px;
    height: 182px;

    .become-member-container {
      .become-member-text {
        font-size: 23px;
        line-height: 28px;
      }

      .become-member-button {
        width: 53%;
        font-size: 18px;
        line-height: 22px;
        padding: 7px 22px 8px 32px;  
      }
    }
  }

  .statistic-section {
    margin: 50px 0px;

    .statistic-title {
      font-size: 40px;
      line-height: 49px;
      border-bottom: 3px solid var(--header_hoverBackgroundATag_color);
    }

    .statistic-container {
      margin-top: 26px;

      .col-top {
        font-size: 40px;
        line-height: 49px;
      }

      .col-bottom {
        font-size: 40px;
        line-height: 49px;
      }
    }
  }

  .messenger-chat {
    right: 30px;

    .chat-button {
      width: 50px;
      height: 50px;
    }

    .chat-content {
      right: 30px;
    }
  }

  footer {
    height: 391px;

    .footer-container {
      height: 353px;
    }

    .footer-left {
      flex-direction: column-reverse;
      justify-content: start;
    }

    .footer-right {
      flex-direction: column;
      justify-content: start;
    }

    .logo-and-text {
      margin-top: 34px;
      margin-left: 45px;
    }

    .footer-image {
      height: 30.86px;
    }

    .footer-text {
      font-size: 14px;
      line-height: 17px;
      margin-left: 4px;
    }

    .left-footer-menu {
      margin-top: 25px;
      margin-left: 70px;

      li {
        margin-top: 27px;

        &:first-child {
          margin-top: 0px;
        }
      }

      .left-footer-link {
        font-size: 17px;
        line-height: 21px;
      }
    }

    .right-footer-menu {
      margin-top: 25px;
      margin-left: 40px;

      li {
        margin-top: 27px;

        &:first-child {
          margin-top: 0px;
        }
      }

      .right-footer-link {
        font-size: 17px;
        line-height: 21px;
      }
    }

    .right-footer-icons {
      margin-top: 95px;
      margin-right: 0px;
      position: relative;
      left: 55px;
    }

    .right-footer-icon {
      width: 30px;
      height: 30px;
      margin-right: 11px;
    }
  }

  .modal {
    .close-modal-button {
      width: 30px;
      height: 30px;
      top: -8px;
      right: -8px;
    }

    .login-form {
      padding-bottom: 45px;
    }

    .register-form {
      padding-bottom: 45px;
    }
  }
}
