@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap";
:root {
  --blue: blue;
  --black: black;
  --header_aTag_color: #505353;
  --header_hoverBackgroundATag_color: #B2D235;
  --header_hoverATag_color: #FEFFFF;
  --header_background_color: white;
  --banner_banner-content_pTag_color: #505353;
  --banner_banner_content_spanTag_color: #11114E;
  --mobile_banner_background_color: linear-gradient(180deg, #FFFBFB 87.5%, #E7E9EE 100%);
  --banner_box_shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  --banner_button_text_color: #FFFFFF;
  --banner_font_family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
