@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap";
:root {
    --blue: blue;
    --black: black;
    --header_aTag_color: #505353;
    --header_hoverBackgroundATag_color: #B2D235;
    --header_hoverATag_color: #FEFFFF;
    --header_background_color: white;
}
